{% extends 'home/base.html' %} 

{% block title %} {{ title }} {% endblock %}

{% block topic %}
    <h1 class="pt-4 fw-semybold text-dark fs-1 pb-2 align-self-center">
        {{ title }}
    </h1>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col block text-end">
        <a class="btn btn-success px-3 py-2 mb-3" href="{% url 'news-add' %}">Добавить статью</a>
    </div>
    {% for post in news %}
      <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|striptags|truncatechars:200 }}</p>
        <div class="row row-cols-auto">
          <div class="col">
            <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_images">
          </div>
          <div class="col mt-2">
            <span class="text-muted">Публикация: {{ post.date|date:"d E Y в H:i" }}</span>
            <p><b>Автор:</b> <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
          </div>
        </div>
        <div class="text-end">
          <a href="{% url 'news-detail' post.id %}" class="btn btn-warning">Читать далее</a>
        </div>

      </div>
    {% endfor %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="{% url 'news' %}" class="btn btn-outline-danger">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
          <button class="btn btn-danger">{{ num }}</button>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
